body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    min-height: 100vh;
}
.title{
    font-size: large;
}
.title, .copyright{
    background-image: radial-gradient(ellipse at center, #19882c 1%, #025310 100%);
    color: white;
    text-align: center;
}
.title_all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    margin-top: 18px;
    width: 60px;
    height: 60px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(142deg) brightness(102%) contrast(102%);
}
.copyright {
    display: flex;
    height: 5vh;
    text-align: center;
    font-size: smaller;
    justify-content: center;
}
.copyright a{
    text-decoration: none;
    color: #f6ff67;
    font-weight: bold;
}
.authors p {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.authors{
    
    justify-content: center;
    align-self: center;
    
}
.send_it{
    color:white;
    border: none;
    background-color: #19882c;
    text-transform: uppercase;
    height: 30px;
    border-radius: 6px;
    font-weight: 700;
    margin-bottom: 13px;
}


