.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pages{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.text{
    text-align: justify;
}
.img{
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 5px;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.curso{
    margin-left: 0.5vmin;
    padding-left: 0.5vmin;
}
